.banner{
    background-image: url("../../images/img2.jpg");
    height:100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    animation: changeBackground 16s infinite;
}

@keyframes changeBackground {
    0%, 100% {
        background-image: url("../../images/img1.jpg");
        
    }

    25% {
        background-image: url("../../images/img2.jpg");
        
    }

    50% {
        background-image: url("../../images/img3.jpg");
        
    }

    75% {
        background-image: url("../../images/img4.jpg");
        
    }
}



.banner > h1{
    margin: 5vmax;
    font: 600 2.5vmax "Roboto";
}
.banner > p{
    font: 300 1.4vmax "Lucida Sans";
}
.banner > a > button{
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1vmax "Roboto";
    
}








.banner > a > button:hover{
    background-color: #635dc0;
    color: white;
}
.banner::after{
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: #ffffff;
    position: absolute;
    top: 0%;
    left: 0;
    max-width: 100%;
    clip-path: polygon(100% 77%, 0% 100%, 100% 100%);
}

.Homeheading{
    text-align: center;
    font-size: 1.3vmax;
    font-family: "Roboto";
    border-bottom: 1px solid rgba(21,21,21,0.5);
    width: 20vmax;
    margin: 5vmax auto;
    padding: 1vmax;
    color: rgba(0,0,0,0.7);
}

.container{
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    
}

.ProductCard{
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48,48,48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}
.ProductCard > img{
    width: 14vmax;
}
.ProductCard > div{
margin: 0.5vmax;
display: flex;
justify-content: flex-start;
align-items: center;
}
.productCardSpan{
    margin: 0.5vmax;
    font: 300 0.6vmax "Roboto";
}
.ProductCard > p{
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}
.ProductCard > span{
    margin: 0.5vmax 0.5vmax;
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1vmax;
}
.ProductCard:hover{
    box-shadow: 0 0 5px rgba(15,15,15,0.26);
    transform: translateY(-1vmax);
}

@media screen and (max-width : 600px) {
    .ProductCard > p{
        font-size: 1.7vmax;
    }

    .ProductCard > div{
        margin: 0;
        display: block;

    }

    .ProductCard > span{
        font-size: 1.5vmax;
    }

    .ProductCard > div > span{
        margin: 0 0.5vmax;
        font: 300 1vmax "Roboto";
    }
    
}